<div>
        <button id="activate">DO</button>
        <input type="text" value="" id="resultat" width="500" height="500" readonly>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <div id="div_close">
                    <h2>Effectuee une recherche</h2>
                </div>
            </div>
            <div class="modal-body">
                <div id="conteneur">
                    <div class="element" id="ele1" style="background:white">@utilisateur</div>
                    <div class="element" id="ele2" style="background:white">#hastag</div>
                </div>
                <input type="text" name="do_res" id="do_res" value="">
                <button id="do_search">do research</button>
            </div> 
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>
    </div>
</div>